p
  b(translate="MADE_BY")
  | 
  a(href="http://lorenzoganni.com")
    b Lorenzo Ganni
  | &nbsp;&nbsp;|&nbsp;&nbsp;
  a(href="http://goo.gl/hSwG4m")
    b(translate="HERE")
  | 
  span(translate="ZANICHELLI")
