h2(translate="GUIDE")
h3(translate="GUIDE_INTRODUCTION_H")
p(translate="GUIDE_INTRODUCTION_P1")
p(translate="GUIDE_INTRODUCTION_P2")
h3(translate="GUIDE_SYNTAX_H")
table#cmds
  tr
    td
      b LOD 
      i var/cell
    td
      b LOD 
      i #num
    td
      b STO 
      i var/cell
    td
      b JMZ 
      i cell
    td
      b JMP 
      i cell
  tr
    td
      b ADD 
      i var/cell
    td
      b ADD 
      i #num
    td
      b SUB 
      i var/cell
    td
      b SUB 
      i #num
    td
      b NOP
  tr
    td
      b MUL 
      i var/cell
    td
      b MUL 
      i #num
    td
      b DIV 
      i var/cell
    td
      b DIV 
      i #num
    td
      b HLT
p(translate="GUIDE_SYNTAX_P")
h3(translate="GUIDE_IO_H")
p(translate="GUIDE_IO_P")
h3(translate="GUIDE_COMPATIBILITY_H")
p(translate="GUIDE_COMPATIBILITY_P")
h3(translate="GUIDE_SAMPLES_H")
p
  a(href="//github.com/lorenzoganni/vnmsim", translate="HERE")
  | 
  span(translate="GUIDE_SAMPLES_P")
