.CodeMirror {
  height: 100%;
  border-right: 1px solid #eee;
  font-size: 14px;
  line-height: 1.5;

  .CodeMirror-activeline-background {
    background: rgba(254, 138, 39, 0.1);
  }
  .cm-cmd {
    color: blue;
  }
  .cm-num {
    color: green;
  }
  .cm-cell {
    color: red;
  }
  .cm-val {
    color: purple;
  }
  .cm-comment {
    color: #999;
  }
  .CodeMirror-lint-markers {
    float: left;
    background-color: white;
    cursor: default;
  }
  .CodeMirror-linenumbers {
    float: left;
    background-color: white;
  }
}
