.sim {
  position: absolute;
  top: 60px;
  left: 0;
  right: 250px;
  bottom: 10px;
  height: 100%;
  max-height: 700px;

  label {
    position: absolute;
    font-family: 'Share Tech Mono', monospace;
    font-size: 18px;
    color: #aaa;

    &.tooltip {
      cursor: help;
    }
  }
}

.dataBus, .addressBus {
  position: absolute;
  top: 10px;
  right: 0;
  bottom: 0;
  left: 12px;
  float: center;
  margin: 0 auto;

  width: 100%;
  height: 100% !important;
  fill: #fa983a;

  overflow-y: hidden;
}

.addressBus {
}

// program counter _____________________________________________________________
#pc {
  position: relative;
  top: 15%;
  left: 75%;
  width: 125px;
  height: 200px;

  label {
    position: absolute;
    bottom: 45px;
    left: 50px;
  }

  #val {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 41px;
    background: white;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
}

// arithmetic logic unit _______________________________________________________
#alu {
  position: absolute;
  top: 33%;
  left: 150px;
  width: 350px;
  height: 400px;
  svg {
    fill: #1f1f1f;
    stroke: #ccc;
    stroke-width: 1;
    width: 400px;
    height: 400px;
  }
  label {
    position: absolute;
    top: 35px;
    left: 150px;
  }
}

// accumulator _________________________________________________________________
#acc {
  position: absolute;
  top: 35%;
  left: 205px;

  label {
    top: 205px;
    left: 10px;
  }
}

// instructions register _______________________________________________________
#ir {
  position: absolute;
  top: 3%;
  bottom: 30px;

  label {
    top: 12px;
    left: 40px;
  }
}

// other sim labels ____________________________________________________________
label#busL {
  top: 20px;
  left: 430px;
  font-size: 18px;
}

label#addressesBusL {
  top: 15%;
  left: 430px;
  padding-top: 20px;
  font-size: 18px;
}

label#ramL {
  top: 8%;
  right: 0;
  p {
    transform: rotate(-90deg);
  }
}

label#decoder {
  top: 23%;
  left: 55px;
  background: white;
  padding: 5px 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 18px;
  text-transform: uppercase;
}
